Repository apache/kibble, pull requests merged in 2020-12, with the labels that each got.

#106 Fix broken Kibble
  docker-compose-dev.yaml
  kibble/api/handler.py
  kibble/api/plugins/database.py
Labels: area:api, area:dev

#104 Use https URL for Kibble in setup.py
  setup.py
Labels: area:dev

#107 Use python:3.8-slim image for Dockerfile
  Dockerfile.dev
Labels: area:dev

#108 Fix ES Memory locking issue
  docker-compose-dev.yaml
Labels: area:dev

#112 Upgrade black to 20.8b1
  .pre-commit-config.yaml
  kibble/scanners/brokers/kibbleES.py
  kibble/scanners/kibble-scanner.py
  kibble/scanners/scanners/ponymail-kpe.py
  kibble/scanners/scanners/travis.py
  kibble/scanners/utils/github.py
  kibble/scanners/utils/urlmisc.py
Labels: area:scanners

#110 Install cloc in Dockerfile to fix git scanner
  Dockerfile.dev
Labels: area:dev

#114 Add scan command to run scanners
  kibble.ini
  kibble/__main__.py
  kibble/cli/scanner_command.py
  kibble/scanners/README.md
  kibble/scanners/brokers/kibbleES.py
  kibble/scanners/kibble-scanner.py
Labels: area:cli, area:scanners

#118 Add missing __init__.py file in plugins & cli directory
  kibble/api/plugins/__init__.py
  kibble/cli/__init__.py
Labels: area:cli

#119 Fix the path for the scanners in scanners/README.md
  kibble/scanners/README.md
Labels: area:scanners

#122 Make scanners use kibble.ini instead of config.yaml
  kibble.ini
  kibble/scanners/README.md
  kibble/scanners/brokers/kibbleES.py
  kibble/scanners/config.yaml
  kibble/scanners/scanners/git-census.py
  kibble/scanners/scanners/git-evolution.py
  kibble/scanners/scanners/git-sloc.py
  kibble/scanners/scanners/git-sync.py
  kibble/scanners/scanners/ponymail-kpe.py
  kibble/scanners/scanners/ponymail-tone.py
  kibble/scanners/utils/git.py
  kibble/scanners/utils/kpe.py
  kibble/scanners/utils/tone.py
  kibble/settings.py
Labels: area:scanners

#121 Introduce a BaseScanner class
  kibble/scanners/scanners/base_scanner.py
Labels: area:scanners

#123 Update docs to reflect Scanners relocation
  README.md
Labels: area:docs

#126 Refactor dev docker-compose and update setup docs
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  docker-compose-dev.yaml
  docs/source/managing.rst
  docs/source/setup.rst
Labels: area:dev, area:docs
