Repository apache/kibble, pull requests merged in 2020-11, with the labels that each got.

#78 Add scanners to main repository
  kibble/scanners/README.md
  kibble/scanners/__init__.py
  kibble/scanners/brokers/__init__.py
  kibble/scanners/brokers/kibbleES.py
  kibble/scanners/config.yaml
  kibble/scanners/kibble-scanner.py
  kibble/scanners/mapping.json
  kibble/scanners/scanners/__init__.py
  kibble/scanners/scanners/bugzilla.py
  kibble/scanners/scanners/buildbot.py
  kibble/scanners/scanners/discourse.py
  kibble/scanners/scanners/gerrit.py
  kibble/scanners/scanners/git-census.py
  kibble/scanners/scanners/git-evolution.py
  kibble/scanners/scanners/git-sloc.py
  kibble/scanners/scanners/git-sync.py
  kibble/scanners/scanners/github-issues.py
  kibble/scanners/scanners/github-stats.py
  kibble/scanners/scanners/jenkins.py
  kibble/scanners/scanners/jira.py
  kibble/scanners/scanners/pipermail.py
  kibble/scanners/scanners/ponymail-kpe.py
  kibble/scanners/scanners/ponymail-tone.py
  kibble/scanners/scanners/ponymail.py
  kibble/scanners/scanners/travis.py
  kibble/scanners/scanners/twitter.py
  kibble/scanners/utils/__init__.py
  kibble/scanners/utils/git.py
  kibble/scanners/utils/github.py
  kibble/scanners/utils/jsonapi.py
  kibble/scanners/utils/kpe.py
  kibble/scanners/utils/sloc.py
  kibble/scanners/utils/tone.py
  kibble/scanners/utils/urlmisc.py
  setup.py
Labels: area:dev, area:scanners

#91 Refactor setup scripts as kibble cli command
  docker-compose-dev.yaml
  kibble/__main__.py
  kibble/cli/setup_command.py
  setup.py
Labels: area:dev

#92 Build docker image on CI
  .github/labeler.yml
  .github/workflows/ci.yaml
  .github/workflows/labeler.yaml
  setup.py
Labels: area:dev

#98 Remove unused variables
  kibble/scanners/brokers/kibbleES.py
  kibble/scanners/kibble-scanner.py
  kibble/scanners/scanners/bugzilla.py
  kibble/scanners/scanners/buildbot.py
  kibble/scanners/scanners/discourse.py
  kibble/scanners/scanners/git-census.py
  kibble/scanners/scanners/git-evolution.py
  kibble/scanners/scanners/github-issues.py
  kibble/scanners/scanners/github-stats.py
  kibble/scanners/scanners/jenkins.py
  kibble/scanners/scanners/jira.py
  kibble/scanners/scanners/pipermail.py
  kibble/scanners/scanners/ponymail-kpe.py
  kibble/scanners/scanners/ponymail-tone.py
  kibble/scanners/scanners/ponymail.py
  kibble/scanners/scanners/travis.py
  kibble/scanners/utils/git.py
  kibble/scanners/utils/kpe.py
  kibble/scanners/utils/tone.py
Labels: area:scanners

#94 Refactor make_account as cli command
  kibble.ini
  kibble/__main__.py
  kibble/cli/make_account_command.py
  kibble/cli/setup_command.py
  kibble/mappings/mappings.json
  kibble/settings.py
  kibble/setup/kibble.yaml.sample
  kibble/setup/makeaccount.py
Labels: area:cli
